body {
    margin: 0 auto;
    padding: 0 500px;
    font-family: 'Inter', sans-serif;
    background-color: #585858;
    color: #fff;
    /* display: flex;
    justify-content: space-between; */
}

    main .h1{
        text-align: start;
        font-size: 50px;
        padding: auto;
        font-weight: 700;
    }

    main img{
        display: block;
        margin: 30px auto;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }